body {
  margin: 0;
  padding: 0;
}

.paragraph {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #BA91C1;
}

.hero__section {
  height: 90vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 80px 24px 64px;
  align-items: center;
}
.hero__logo {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.02em;
  color: #BA91C1;
}
.hero__footer {

}
