body {
  margin: 0;
  padding: 0;
  background: #C8F0F9;
}

marquee {
  margin: 0;
  padding: 0;
}

.paragraph {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #BA91C1;
}

.hero__section {
  height: 60vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 80px 24px 64px;
  align-items: center;
}

.home__section {
  background: black;
  display: grid;
  grid-gap: 32px;
  margin: 0;
  padding: 80px 10vw 96px;
  align-items: center;
  color: #BA91C1;
  align-items: start;
}
.marquee__1 {
  background-color: #BA91C1;
  color: black;
}
.marquee__2 {
  background-color: black;
  color: #BA91C1;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 280px;
  justify-content: space-evenly;
}

.navbar__item {
  margin-right: 32px;
}

.hero__logo {
  color: #BA91C1;
}
.hero__footer {

}

.dates {
  display: flex;
  flex-direction: column;
}

.date {
  margin-bottom: 48px;
  border-top: 2px solid #BA91C1;
}

.date__link {
  color: #BA91C1;
}

.links__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin: 0;
  padding: 32px 10vw 64px;
  align-items: center;
  background-color: #BA91C1;
  color: black;
}

.links__section a {
  color: black;
}

.home__music a {
  color: black;
  background-color: #BA91C1;
  padding: 32px 48px;
  text-decoration: none;
}

.home__music h3 {
  color: black;
  background-color: #BA91C1;
}

.music__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}
.content a {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: black;
}

.listen a {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: black;
}

.next_shows, .listen, .merch_info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.next_shows button {
  margin-top: 8px;
}

.next_shows {
  margin-bottom: 24px;
}

.image img {
  width: 100%;
}

.logo {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.footer_logo {
  width: 100%;
}

.listen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.listen h1 {
  text-decoration: underline;
  padding-bottom: 16px;
}

button {
  padding: 12px 24px;
  border: black solid 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: black;
  background: none;
  cursor: pointer;
  transition: border-radius 0.9s ease;
  border-radius: 0;
}


button:hover {
  border-radius: 100%;
}

.info {
  margin-bottom: 48px;
}

.info a {
  transition: transform 0.3s ease;
  transform: translateX(0px);
}

.info a:hover {
  transition: transform 0.3s ease;
  transform: translateX(8px);
}

@media ( min-width: 320px ) {
  .home__section {
    grid-template-columns: 1fr;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .content a {
    font-size: 24px;
    line-height: 36px;
  }
  button {
    font-size: 24px;
    line-height: 36px;
  }
  .logo {
    font-size: 40px;
    line-height: 64px;
  }
  .listen {
    flex-direction: column;
  }
  .content {
    padding-top: 0;
  }
}

@media ( min-width: 782px ) {
  .home__section {
    grid-template-columns: 1fr 1fr;
  }
  .main {
    grid-template-columns: 1fr 1fr;
  }
  .content a {
    font-size: 32px;
    line-height: 44px;
  }
  button {
    font-size: 32px;
    line-height: 44px;
  }
  .logo {
    font-size: 56px;
    line-height: 64px;
  }
  .listen {
    flex-direction: row;
  }
  .content {
    padding-top: 24px;
  }
}
